#root {
  max-width: 1280px;
  margin: 0 auto;
}
body {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  color: #222;
  background: #f3f3f3;
  margin: 100px auto 0;
  word-break: break-all;
  border-radius: 1rem;
  overflow: hidden;
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  font-size: 1.3rem;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.active-tabs {
  background: rgb(37, 48, 202);
  color: white;
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
