#root {
  max-width: 80%;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Accordion.css */
button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
p {
  padding: 1.2rem;
  margin: 0px;
  background-color: white;
  color: #333;
  max-height: auto;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* Accordion.css */
button:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
button:active button:hover {
  background-color: #ccc;
}
button:active:after {
  content: '\2212';
}

button:focus {
  outline: none;
}
/* Accordion.css */
@media screen and (max-width: 500px) {
  p {
    font-size: 16px;
  }
}

/* App.css */
.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}
