#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
}
.icon-app-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  display: flex;
}
.icon-app-bar a {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 2rem;
}
.icon-app-bar a:hover {
  background-color: #444;
}
.active {
  background-color: #04aa6d;
}
