:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
.icon-app-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.icon-app-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease-in-out;
  color: white;
  font-size: 2rem;
}
.icon-app-bar a:hover {
  background-color: #444;
}
.active {
  background-color: #04aa6d;
}